---
import Icon from "./Icon.astro";
import { mixColor } from "motion";

interface Props {
  class?: string;
  link: string;
}

const { class: className, link } = Astro.props;

const url = new URL(link);

const brandColor = {
  "pan.baidu.com": "#06a7ff",
  "pan.quark.cn": "#1256ff",
  "cloud.189.cn": "#fb9312",
  "mega.nz": "#dd1405",
}[url.hostname];

const color = brandColor ? mixColor(brandColor, "#fff")(0.1) : "#e8c17a";
---

<a
  class:list={["btn btn-soft btn-lg min-h-fit rounded-xl", className]}
  style={{ "--btn-color": color }}
  href={link}
>
  <Icon class="tabler--download" />
  <slot />
</a>
