---
import Icon from "@components/Icon.astro";
import NavItem from "@components/NavItem.astro";
import NavDropdown from "@components/NavDropdown.astro";
import { Image } from "astro:assets";
import clsx from "clsx";

import logoImg from "@assets/logo/logo.webp";

export type NavbarStyle = "normal" | "transparent" | "transparent-on-top";

interface Props {
  navbarStyle?: NavbarStyle;
}

const { navbarStyle = "normal" } = Astro.props;

let headerClass;
if (navbarStyle === "transparent") {
  headerClass = clsx`fixed bg-transparent`;
} else if (navbarStyle === "transparent-on-top") {
  headerClass = clsx`bg-base-200 fixed [.on-top]:bg-transparent`;
} else {
  headerClass = clsx`bg-base-200 sticky`;
}
---

<header
  id="navbar"
  class:list={[
    "navbar group top-0 z-50 w-full p-0",
    "md:shadow-base-300/20 on-top shadow-sm [.on-top]:shadow-none",
    "transition-[background-color,box-shadow] duration-500",
    headerClass,
  ]}
>
  <div class="container md:flex md:items-center md:gap-2">
    <div
      class:list={[
        "navbar-start items-center justify-between max-md:w-full",
        "h-16 transition-[height] duration-300 md:group-[.on-top]:h-20",
      ]}
    >
      <a
        href="/"
        class:list={[
          "btn btn-text btn-xl rounded-lg p-2 md:group-[.on-top]:h-18",
          "transition-[height,background-color] duration-300",
        ]}
        aria-label="Homepage Link"
      >
        <Image
          src={logoImg}
          class="h-full w-auto"
          loading="eager"
          alt="日不落汉化组"
        />
      </a>

      <div class="md:hidden">
        <a
          class="btn btn-text btn-circle"
          href="https://github.com/Umineko-Project-CN"
        >
          <Icon class="tabler--brand-github size-6" />
        </a>
        <button
          type="button"
          class="collapse-toggle btn btn-text btn-circle"
          data-collapse="#navbar-collapse"
          aria-controls="navbar-collapse"
          aria-label="Toggle navigation"
        >
          <Icon class="tabler--menu-2 collapse-open:hidden size-6" />
          <Icon class="tabler--x collapse-open:block hidden size-6" />
        </button>
      </div>
    </div>

    <nav
      id="navbar-collapse"
      class:list={[
        "md:navbar-end collapse hidden grow basis-full overflow-hidden max-md:w-full",
        "rounded-box max-md:bg-base-200 -mx-2 transition-[height,box-shadow] duration-300",
        navbarStyle == "normal" ||
          "shadow-base-300/20 group-[.on-top]:max-md:shadow-sm",
      ]}
    >
      <ul
        class="menu menu-sm md:menu-horizontal gap-2"
        style={{
          "--menu-hover-fg": "var(--color-primary)",
          "--menu-hover-bg":
            "color-mix(in oklab,var(--color-primary) 5%,transparent)",
        }}
      >
        <NavItem href="/">首页</NavItem>

        <NavDropdown
          id="dropdown-nav-introduction"
          title="介绍"
          items={[
            { label: "PS3 版移植版", href: "/port" },
            { label: "NS 版汉化补丁", href: "/saku" },
          ]}
        />

        <NavDropdown
          id="dropdown-nav-download"
          title="下载"
          items={[
            { label: "PS3 版移植版", href: "/download/port" },
            { label: "NS 版汉化补丁", href: "/download/saku" },
          ]}
        />

        <NavDropdown
          id="dropdown-nav-help"
          title="帮助"
          items={[
            { label: "游戏贴士", href: "/help" },
            { label: "常见问题", href: "/help/faq" },
          ]}
        />
      </ul>
    </nav>

    <div class="navbar-end w-auto items-center gap-4 max-md:hidden">
      <a
        class="btn btn-text btn-circle"
        href="https://github.com/Umineko-Project-CN"
      >
        <Icon class="tabler--brand-github size-5.5" />
      </a>
    </div>
  </div>
</header>

<script>
  import "@flyonui/dropdown";
  import "@flyonui/collapse";
  import { scroll } from "motion";

  const navbar = document.getElementById("navbar")!;
  scroll((_, info) => navbar.classList.toggle("on-top", info.y.current <= 20));
</script>
